@model OAMS.Models.Rpt103
@using OAMS.Models
@{
    ViewBag.Title = "Summary Client";
}
<h2>
    @ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
        Geo1: @(Html.EditorFor(model => model.Geo1FullName, "AutoCompleteGeo", new { level = 1 }))
        <input type="submit" value="Ok" />
    </p>
    <div>
        @if (Model != null && Model.List != null)
        { 
            <table id="tblResult" class="display">
                <thead>
                    <tr>
                        <th>
                            Client
                        </th>
                        @{ CodeMasterRepository codeMasterRepository = new CodeMasterRepository();
                           var typeL = codeMasterRepository.Get(CodeMasterType.Type); }
                        @foreach (var item in typeL)
                        {
                            <th>
                                @item.Code
                            </th>
                        }
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                @{ var v = Model.List.GroupBy(r => r.Client); }
                <tbody>
                    @foreach (var item in v)
                    {
                        int total = 0;
                        <tr>
                            <td>
                                @item.Key
                            </td>
                            @foreach (var type in typeL)
                            {
                                int c = item.Where(r => r.Type == type.Code).Sum(r => r.Count);
                                total += c;
                                <td>
                                    @c
                                </td>
                            }
                            <td>
                                @total
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            var oTable = $('#tblResult').dataTable(
            { "aaSorting": [[10, "desc"]],
                "sDom": 'CT<"clear">lfrtip',
                "oTableTools": { "sSwfPath": '@Url.Content("~/content/copy_cvs_xls_pdf.swf")', "aButtons": ["copy"] },
                "iDisplayLength": 100,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]]
            });
        });
    </script>
    
}
