@model OAMS.Models.Rpt107
@using OAMS.Models
@{
    ViewBag.Title = "Geo1(?) - Cat1(?) - Geo2 - Count : less2other(?)";
}
<h2>
    @ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
        Geo1: @(Html.EditorFor(model => model.Geo1FullName, "AutoCompleteGeo", new { level = 1 }))
        Cat1: @(Html.EditorFor(model => model.Cat1FullName, "AutoCompleteCategory", new { level = 1 }))
        
        Geo2 less than @Html.EditorFor(r => r.LessThan) go to Other.
        <input type="submit" value="Ok" />
    </p>
    
    <div>
        @if (Model != null && Model.List != null)
        { 
            <table id="tblResult" class="display">
                <thead>
                    <tr>
                        <th>
                            GEO2
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>
                                @item.Geo2
                            </td>
                            <td>
                                @item.Count
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td>
                            @Model.List.Sum(r => r.Count)
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
        

    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            var oTable = $('#tblResult').dataTable({ "aaSorting": [[0, "asc"]],
                "sDom": 'CT<"clear">lfrtip',
                "oTableTools": { "sSwfPath": '@Url.Content("~/content/copy_cvs_xls_pdf.swf")', "aButtons": ["copy"] },
                "iDisplayLength": -1,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]]
            });
        });
    </script>
    
}
