@model List<System.Dynamic.ExpandoObject>
@using OAMS.Models
@{
    ViewBag.Title = "Dynamic Rpt";
}
<h2>
    @ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (Model != null && Model.Count > 0)
    {
        var paramsL = ViewBag.ParamsL as List<Rpt130>;
        var v = Model[0] as IDictionary<string, object>;
    <div>
        <table class="display">
            <thead>
                <tr>
                    @foreach (var item in v.Keys)
                    {
                        var p = paramsL.Where(r => r.PName == item).FirstOrDefault();
                        <th>
                            @(p == null ? item : (p.IsCount ? p.Values.FirstOrDefault() : p.Name))
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    
                }
                @foreach (var item in Model)
                {
                    var r = item as IDictionary<string, object>;
                    <tr>
                        @foreach (var c in r.Values)
                        {
                            <td>
                                @c
                            </td>
                        
                        }
                    </tr>
                }
            </tbody>
            @*<tfoot>
                <tr>
                    <th colspan="5">
                    </th>
                    @foreach (var item1 in totalL)
                    {
                        <th>
                            @item1
                        </th>
                    }
                    <th>
                        @(totalL.Sum())
                    </th>
                </tr>
            </tfoot>*@
        </table>
    </div>
    
    }
    else
    { 
    <div>
        There are some example below:
        <br />
        <a href='@Url.Content("~/Rpt/_130?query=[{%22Name%22:%22Geo1%22,%22Values%22:[%22HCMC%22]},{%22Name%22:%22Type%22,%22Values%22:[%22WMB%22]}]")'>
            Example 1</a>
        <br />
        <a href='@Url.Content("~/Rpt/_130?query=[{%22Name%22:%22Type%22,%22Values%22:[%22WMB%22]}]")'>
            Example 2</a>
        <br />
        <a href='@Url.Content("~/Rpt/_130?query=[{%22Name%22:%22Geo1%22,%22Values%22:[%22HCMC%22]}]")'>
            Example 3</a>
        <br />
        <a href='@Url.Content("~/Rpt/_130?query=[{%22Name%22:%22Geo1%22,%22Values%22:[%22HCMC%22],%22IsShow%22:%22false%22},{%22Name%22:%22Geo2%22},{%22Name%22:%22Type%22,%22IsCount%22:%22true%22}]")'>
            Example 4</a>
        <br />
    </div>
    }
    <script type="text/javascript">

        $(document).ready(function () {

            var oTable = $('.display').dataTable({ "aaSorting": [[0, "asc"]],
                "sDom": 'CT<"clear">lfrtip',
                "oTableTools": { "sSwfPath": '@Url.Content("~/content/copy_cvs_xls_pdf.swf")', "aButtons": ["copy"] },
                "iDisplayLength": -1,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]]
            });
        });
    </script>
    
}
